<nav class="breadcrumb is-centered is-medium has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    <li>
      <%= link_to 'Shop by Department Floor', categories_path %>
    </li>
    <li>
      <%= link_to 'PokeMarketplace', root_path %>
    </li>
    <li>
      <% offset = rand(Item.count) %>
      <%= link_to 'Item', Item.offset(offset).first %>
    </li>
    <% if signed_in? %>
      <li>
        <%= link_to 'Checkout', checkout_proceed_path %>
      </li>
      <li class="is-active">
        <%= link_to 'My Orders', orders_path  %>
      </li>
    <% end %>
  </ul>
</nav>

<section class="section">
  <h3 class="title is-4">Your Orders</h3>
  <div class="column">
    <%= render partial: 'orders/order',
              collection: @orders,
              locals: {name_is_link: true} %>
  </div>
</section>