<div class="column is-one-quarter">
  <div class="item card">
    <div class="card-content">
      <h2 class="title is-3">
        <% if name_is_link %>
          <%= link_to item.name, item %>
        <% else %>
          <%= item.name %>
        <% end %>
      </h2>
      <div class="media">
        <div class="media-left">
          <% if item.upload.present? %>
            <figure class="image">
            <%= image_tag item.icon, alt: "#{item.name}_image" %>
          </figure>
          <% else %>
            <figure class="image is-48x48">
              <%= image_tag item.image, alt: "#{item.name}_image" %>
            </figure>
          <% end %>
          <br>
          <br>
          <div class="media-content">
            <br>
            <br>
            <p class="title is-4"><strong>Cost: </strong><%= number_to_currency(item.price / 100) %></p>
            <p class="subtitle is-6"><strong>Store Location: </strong><%= link_to item.category.name, item.category %></p>
          </div>
        </div>
      </div>
      <div class="content">
        <strong>Description: </strong><%= item.description %>
        <br>
        <br>
        <p class="title is-3">
          <% unless item_in_cart?(item) %>
            <%= link_to 'Add to Bag', add_item_path(item.name), method: :post, class: 'button is-rounded is-light' %>
            <%= image_tag item.sprit, alt: "#{item.name}_sprit" %>
          <% else %>
            <%= link_to "Add Another #{item.name} to Bag", add_item_path(item.name), method: :post, class: 'button is-rounded is-info' %>
            <%= image_tag item.sprit, alt: "#{item.name}_sprit" %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>