<nav class="breadcrumb is-centered is-medium has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    <li>
      <%= link_to 'Shop by Department Floor', categories_path %>
    </li>
    <li>
      <%= link_to 'PokeMarketplace', root_path %>
    </li>
    <li class="is-active">
      <%= link_to 'Search Results', '#' %>
    </li>
    <li>
      <% offset = rand(Item.count) %>
      <%= link_to 'Item', Item.offset(offset).first %>
    </li>
    <% if signed_in? %>
      <li>
        <%= link_to 'Checkout', checkout_proceed_path %>
      </li>
      <li>
        <%= link_to 'My Orders', orders_path  %>
      </li>
    <% end %>
  </ul>
</nav>

<strong>
  Your search for '<%= @query %>' returned <%= pluralize(@items_count, 'result') %>.
  <br>
  The category: <%= @floors %>
</strong>
<section class="section">
  <div class="columns is-multiline">
    <%= render partial: 'item',
              collection: @items,
              locals: {name_is_link: true} %>
  </div>
<%= paginate @items %>
</section>
