<strong>
  Your search for '<%= @query %>' returned <%= pluralize(@items_count, 'result') %>.
  <br>
  The category: <%= @floors %>
</strong>
<section class="section">
  <div class="columns is-multiline">
    <%= render partial: 'item',
              collection: @items,
              locals: {name_is_link: true} %>
  </div>
<%= paginate @items %>
</section>
