<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ECommerceProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
          <h1 class="title"><%= link_to 'PokeMarketplace', root_path , class: 'navbar-item'%></h1>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <%= link_to 'Shop by Department Floor', categories_path , class: 'navbar-item'%>
          <%= link_to 'Service Counter', about_us_path , class: 'navbar-item'%>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <% if signed_in? %>
                <%= link_to current_user.email, root_path, class: 'button is-light' %>
                <%= link_to 'Sign out', log_out_path, method: :delete, class: 'button is-primary' %>
              <% else %>
                <%= link_to 'Log in', log_in_path, class: 'button is-light' %>
                <%= link_to 'Sign up', register_path, class: 'button is-primary' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="modal">
      <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Modal title</p>
            <button class="delete" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            ...
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success">Save changes</button>
            <button class="button">Cancel</button>
          </footer>
        </div>
    </div>
    <br>
    <%= form_with(url:  search_results_items_path , method: "get", local: true) do %>
      <%= label_tag(:query, "Search:", class: 'label') %>
      <%= text_field_tag(:query, '', class: 'input is-rounded', placeholder: 'Poke-Search') %>
      <div class="field">
        <br>
        <%= label_tag(:floors, "Filter by store floor:" , class: 'label') %>
        <% floors = Category.all %>
        <div class="control">
          <%= submit_tag("Search", class: 'button is-link') %>
          <div class="select">
            <select name="floors">
              <option value="all">All Floors</option>
              <% floors[1..-1].each do |floor| %>
                <option value="<%= floor.name %>"><%= floor.name %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
    <% end %>
      <%= yield %>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
          <p>
          <strong>PokeMarketplace</strong> by <a href="https://www.linkedin.com/in/alex-richardson-961b1a14a/">Alex Richardson</a>. The source code can be found on
            <a href="https://github.com/AlexRichOnline/e_commerce_project">GitHub</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
