<!DOCTYPE html>
<html>
  <head>
    <title>ECommerceProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  </head>
  <body>
    <section class="section">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
          <h1 class="title"><%= link_to 'PokeMarketplace', root_path , class: 'navbar-item'%></h1>
      </div>
      <div class="navbar-start">
        <%= link_to 'Shop by Department Floor', categories_path , class: 'navbar-item'%>
        <%= link_to 'Service Counter', about_us_path , class: 'navbar-item'%>
      </div>
      <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
            <strong><%= link_to current_user.email.split('@').first, edit_user_registration_path , class: 'button is-light is-rounded' %></strong>
            <strong><%= link_to 'Log out', destroy_user_session_path, class: 'button is-dark is-rounded', method: :delete %></strong>
          <% else %>
          <strong><%= link_to 'Sign up', new_user_registration_path, class: 'button is-primary is-rounded' %></strong>
          <strong><%= link_to 'Log in', user_session_path, class: 'button is-light is-rounded'%></strong>
          <% end %>
        </div>
      </div>
    </div>
    </nav>
    <%= form_with(url:  search_results_items_path , method: "get", local: true) do %>
      <%= label_tag(:query, "Search:", class: 'label') %>
      <%= text_field_tag(:query, '', class: 'input is-rounded', placeholder: 'Poke-Search') %>
      <div class="field">
        <%= label_tag(:floors, "Filter by store floor:" , class: 'label') %>
        <% floors = Category.all %>
          <div class="select">
            <select name="floors">
              <option value="all">All Floors</option>
              <% floors[1..-1].each do |floor| %>
                <option value="<%= floor.name %>"><%= floor.name %></option>
              <% end %>
            </select>
        </div>
      </div>
      <%= submit_tag("Search", class: 'button is-dark is-rounded') %>
    <% end %>
    <br>
    <details class="content">
      <Summary class="title is-3">Trainer Bag</Summary>
      <% unless session[:cart].empty? %>
        <ul>
          <% session[:cart].each do |hash| %>
            <li class="title is-4">
              <%= hash['item'] %> - qty: <%= hash['qty'] %> -
              <%= link_to 'Remove from Cart',
                          remove_item_path(hash['item']),
                          method: :delete,
                          id: 'remove'%>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No item's in bag</p>
      <% end %>
    </details>
    <%= yield %>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
          <p>
          <strong>PokeMarketplace</strong> by <a href="https://www.linkedin.com/in/alex-richardson-961b1a14a/">Alex Richardson</a>. The source code can be found on
            <a href="https://github.com/AlexRichOnline/e_commerce_project">GitHub</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
