<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ECommerceProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  </head>
  <body>
    <section id="container" class="section">
      <div class="navbar-start">
        <h2 id="header" class="title is-2">Welcome Trainers</h2>
      </div>
      <div class="navbar-end">
        <% if user_signed_in? %>
          <strong><%= link_to current_user.email.split('@').first, edit_user_registration_path , class: 'button is-light is-rounded' %></strong>
          <strong><%= link_to 'Log out', destroy_user_session_path, class: 'button is-dark is-rounded', method: :delete %></strong>
        <% else %>
        <strong><%= link_to 'Sign up', new_user_registration_path, class: 'button is-info is-rounded' %></strong>
        <strong><%= link_to 'Log in', user_session_path, class: 'button is-light is-rounded'%></strong>
        <% end %>
      </div>
    <%= form_with(url:  search_results_items_path , method: "get", local: true) do %>
      <%= label_tag(:query, "Search:", class: 'label') %>
      <%= text_field_tag(:query, '', class: 'input is-rounded', placeholder: 'Poke-Search') %>
      <br>
      <br>
      <div class="field">
        <% floors = Category.all %>
          <div class="select">
            <select name="floors">
              <option value="all">All Floors</option>
              <% floors[1..-1].each do |floor| %>
                <option value="<%= floor.name %>"><%= floor.name %></option>
              <% end %>
            </select>
        </div>
      </div>
      <%= submit_tag("Search", class: 'button is-dark is-rounded') %>
    <% end %>
    <br>
    <% if signed_in? %>
      <% if session[:cart] %>
        <details class="content">
          <Summary class="title is-3">Trainer Bag</Summary>
          <% unless session[:cart].empty? %>
            <ul>
              <% session[:cart].each do |hash| %>
                <li class="title is-4">
                  <%= hash['item'] %> - qty: <%= hash['qty'] %> -
                  <%= link_to 'Remove from Cart',
                              remove_item_path(hash['item']),
                              method: :delete,
                              id: "remove_#{hash['item'].parameterize.underscore}"%>
                  <p>
                    <%= number_field_tag 'quantity', class: 'input'%>
                    <%= button_to 'Update Quantity',
                        update_qty_path(hash['item']),
                        method: :post,
                        class: 'button is-link is-rounded',
                        params: {name: hash['item'], qty: ''}
                        %>
                  </p>
                </li>
              <% end %>
              <li><%= link_to 'Proceed to Checkout',
                          checkout_proceed_path,
                          class: 'button is-dark' %></li>
            </ul>
          <% else %>
            <p>No item's in bag</p>
          <% end %>
        </details>
      <% end %>
    <% end %>
    <%= yield %>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
          <p>
          <strong>PokeMarketplace</strong> by <a href="https://www.linkedin.com/in/alex-richardson-961b1a14a/">Alex Richardson</a>. The source code can be found on
            <a href="https://github.com/AlexRichOnline/e_commerce_project">GitHub</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
